<div class="container-fluid bg-light">
  <div class="mx-3">
    <h2 class="p-3">Dashboard</h2>

    <div class="d-flex flex-row flex-wrap mt-3 justify-content-center">
      <div *ngIf="getLoanData" class="bg-warning text-center p-4 m-2 stats">
        TOTAL Amount<br />₹{{ total }}<br />
      </div>
      <div *ngIf="getLoanData" class="bg-info text-center p-4 m-2 stats">
        Loans <br />
        {{ getLoanData.length }}<br />
      </div>
      <div *ngIf="getCustomerData" class="bg-success text-center p-4 m-2 stats">
        Customers<br />{{ getCustomerData.length }}<br />
      </div>
    </div>
  </div>
</div>

<div class="container-fluid bg-light">
  <h2 class="mx-3">Recent Loans</h2>
</div>

<app-table [tableColumns]="tableColumns" [tableData]="tableData"> </app-table>
