@import "../../../styles.scss";

table {
  width: 100% !important;
}

.mat-mdc-form-field {
  width: 100% !important;
}

td,
th {
  width: 25% !important;
}

.stats {
  width: 230px;
  font-size: 17px;
  border-radius: 10px;
}
