<h1 mat-dialog-title>Add Customer</h1>
<div mat-dialog-container>
  <form [formGroup]="customerForm">
    <mat-form-field appearance="outline" class="m-3 formFW">
      <mat-label>First Name</mat-label>
      <input formControlName="firstName" matInput placeholder="Placeholder" />
    </mat-form-field>
    <mat-form-field appearance="outline" class="m-3 formFW">
      <mat-label>last Name</mat-label>
      <input formControlName="lastName" matInput placeholder="Placeholder" />
    </mat-form-field>
    <mat-form-field appearance="outline" class="m-3 formFW">
      <mat-label>Loan Type</mat-label>
      <input formControlName="loanType" matInput placeholder="Placeholder" />
    </mat-form-field>
    <mat-form-field appearance="outline" class="m-3 formFW">
      <mat-label>Loan Amount</mat-label>
      <input formControlName="loanAmount" matInput placeholder="Placeholder" />
    </mat-form-field>
    <mat-form-field appearance="outline" class="m-3 formFW">
      <mat-label>Email</mat-label>
      <input formControlName="email" matInput placeholder="Placeholder" />
    </mat-form-field>
    <mat-form-field appearance="outline" class="m-3 formFW">
      <mat-label>Phone</mat-label>
      <input formControlName="phone" matInput placeholder="Placeholder" />
    </mat-form-field>
    <mat-form-field appearance="outline" class="m-3 formFW">
      <mat-label>Address</mat-label>
      <input formControlName="address" matInput placeholder="Placeholder" />
    </mat-form-field>
    <mat-form-field appearance="outline" class="m-3 formFW">
      <mat-label>City</mat-label>
      <input formControlName="city" matInput placeholder="Placeholder" />
    </mat-form-field>
    <div mat-dialog-action [align]="'start'">
      <button
        style="margin: 8px 8px"
        mat-raised-button
        color="warn"
        mat-dialog-close
      >
        Close
      </button>
      <button
        mat-raised-button
        color="primary"
        mat-dialog-close
        (click)="AddCustomer()"
      >
        {{ actionBtn }}
      </button>
    </div>
  </form>
</div>
