<h1 mat-dialog-title>Add Customer</h1>
<div mat-dialog-container>
  <form [formGroup]="customerForm">
    <mat-form-field appearance="outline" class="m-3 formFW">
      <mat-label>First Name</mat-label>
      <input
        type="text"
        formControlName="firstName"
        matInput
        placeholder="firstName"
      />
      <mat-error *ngIf="customerForm.invalid && customerForm.touched"
        >this field is required</mat-error
      >
    </mat-form-field>
    <mat-form-field appearance="outline" class="m-3 formFW">
      <mat-label>last Name</mat-label>
      <input
        type="text"
        formControlName="lastName"
        matInput
        placeholder="lastName"
      />
      <mat-error *ngIf="customerForm.invalid">this field is required</mat-error>
    </mat-form-field>
    <mat-form-field appearance="outline" class="m-3 formFW">
      <mat-label>Loan Type</mat-label>
      <input
        type="text"
        formControlName="loanType"
        matInput
        placeholder="LoanType"
      />
      <mat-error *ngIf="customerForm.invalid">this field is required</mat-error>
    </mat-form-field>
    <mat-form-field appearance="outline" class="m-3 formFW">
      <mat-label>Loan Amount</mat-label>
      <input
        type="text"
        pattern="^[0-9]*$"
        formControlName="loanAmount"
        matInput
        required
        placeholder="1000"
      />
      <mat-error *ngIf="m.loanAmount.errors?.required"
        >this field is required</mat-error
      >
      <mat-error *ngIf="m.loanAmount.errors?.pattern"
        >enter only number</mat-error
      >
    </mat-form-field>
    <mat-form-field appearance="outline" class="m-3 formFW">
      <mat-label>Email</mat-label>
      <input
        type="email"
        pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$"
        required
        formControlName="email"
        matInput
        placeholder="email@gmail.com"
      />
      <mat-error *ngIf="m.email.errors?.required">Please enter email</mat-error>
      <mat-error *ngIf="m.email.errors?.pattern">email is not valid</mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline" class="m-3 formFW">
      <mat-label>Phone</mat-label>
      <input
        pattern="[0-9]{10}$"
        required
        formControlName="phone"
        matInput
        placeholder="1234567890"
      />

      <mat-error *ngIf="m.phone.errors?.required"
        >Please enter mobile number</mat-error
      >
      <mat-error *ngIf="m.phone.errors?.pattern"
        >Mobile number is not 10 digit</mat-error
      >
    </mat-form-field>
    <mat-form-field appearance="outline" class="m-3 formFW">
      <mat-label>Address</mat-label>
      <input
        type="text"
        formControlName="address"
        matInput
        placeholder="address"
      />
      <mat-error *ngIf="customerForm.invalid">this field is required</mat-error>
    </mat-form-field>
    <mat-form-field appearance="outline" class="m-3 formFW">
      <mat-label>City</mat-label>
      <input formControlName="city" matInput placeholder="Placeholder" />
    </mat-form-field>
    <div mat-dialog-action [align]="'start'">
      <button
        style="margin: 8px 8px"
        mat-raised-button
        color="warn"
        mat-dialog-close
      >
        Close
      </button>
      <button
        [disabled]="!customerForm.valid"
        mat-raised-button
        color="primary"
        mat-dialog-close
        (click)="AddCustomer()"
      >
        {{ actionBtn }}
      </button>
    </div>
  </form>
</div>
