<div class="d-flex flex-row flex-nowrap justify-content-between mt-1">
  <h1 mat-dialog-title>Add Loan</h1>
</div>

<div mat-dialog-container>
  <form [formGroup]="productForm">
    <mat-form-field appearance="outline" class="m-3 formFW">
      <mat-label>Payment Id</mat-label>
      <input
        type="number"
        min="0"
        formControlName="PaymentId"
        required
        matInput
        placeholder="PaymentId"
      />
      <mat-error *ngIf="productForm.invalid">this field is required</mat-error>
    </mat-form-field>
    <mat-form-field appearance="outline" class="m-3 formFW">
      <mat-label>Customer Id</mat-label>
      <input
        type="number"
        min="0"
        formControlName="CustomerId"
        matInput
        placeholder="CustomerId"
      />
      <mat-error *ngIf="productForm.invalid">this field is required</mat-error>
    </mat-form-field>
    <mat-form-field appearance="outline" class="m-3 formFW">
      <mat-label>Customer Name</mat-label>
      <input
        type="text"
        formControlName="CustomerName"
        matInput
        placeholder="CustomerName"
      />
      <mat-error *ngIf="productForm.invalid">this field is required</mat-error>
    </mat-form-field>
    <mat-form-field appearance="outline" class="m-3 formFW">
      <mat-label>Amount</mat-label>
      <input
        type="text"
        pattern="^[0-9]*$"
        formControlName="Amount"
        matInput
        placeholder="Amount"
      />
      <mat-error *ngIf="m.Amount.errors?.required"
        >this field is required</mat-error
      >
      <mat-error *ngIf="m.Amount.errors?.pattern">enter only number</mat-error>
    </mat-form-field>
    <mat-form-field appearance="outline" class="m-3 formFW">
      <mat-label>Tax</mat-label>
      <input
        formControlName="Tax"
        matInput
        pattern="[0-9]{1,}%"
        placeholder="5%.."
      />
      <mat-error *ngIf="productForm.invalid">this field is required</mat-error>
    </mat-form-field>
    <mat-form-field appearance="outline" class="m-3 formFW">
      <mat-label>Mode</mat-label>
      <input formControlName="Mode" matInput placeholder="Online,Cash.." />
      <mat-error *ngIf="productForm.invalid">Please enter a mode</mat-error>
    </mat-form-field>
    <mat-form-field appearance="outline" class="m-3 formFW">
      <mat-label>Date</mat-label>
      <input
        formControlName="Date"
        matInput
        [matDatepicker]="picker"
        placeholder="choose data"
      />
      <mat-datepicker-toggle
        matIconSuffix
        [for]="picker"
      ></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
    <mat-form-field appearance="outline" class="m-3 formFW">
      <mat-label>Notes</mat-label>
      <input formControlName="Notes" matInput placeholder="notes" />
    </mat-form-field>
    <div mat-dialog-action [align]="'start'">
      <button
        style="margin: 8px 8px"
        mat-raised-button
        color="warn"
        mat-dialog-close
      >
        Close
      </button>
      <button
        [disabled]="!productForm.valid"
        mat-raised-button
        color="primary"
        mat-dialog-close
        (click)="AddLoan()"
      >
        {{ actionBtn }}
      </button>
    </div>
  </form>
</div>
